.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1240px;
  padding: 0px 30px;

  .logo {
    cursor: pointer;
  }

  .navCentr {
    display: flex;

    ul {
      width: 250px;
      list-style-type: none;

      h1 {
        margin-bottom: 20px;
        font-size: 22px;
      }
    }

    li {
      margin-bottom: 10px;
      cursor: pointer;
    }
  }

  .navRight {
    ul li {
      margin-bottom: 20px;
      cursor: pointer;
    }
  }
}
