.poster {
  margin-bottom: 70px;

  .wrapper {
    display: flex;
    justify-content: space-between;

    .text {
      width: 800px;

      h1 {
        margin-bottom: 50px;
        font-size: 44px;
      }

      p {
        font-size: 22px;
        margin-bottom: 35px;
      }
    }
  }
}